body {
  background: linear-gradient(68deg, lightblue, skyblue);
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  text-decoration: none;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bold;
  margin: 1rem;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

.first:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
}

.second:hover {
  transform: scaleX(0.96);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
