body {
  margin: 0;
}
.navBar {
  background-color: darkgrey;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navLink {
  color: white;
  font-size: 2rem;
  margin: 0 30px;
}
.last {
  margin-left: auto;
}
